/* Estilo página 1 */

#btn-adm, #btn-student{
  margin: 5%;
  position: left;
}


/* Estilo página 2 */
#sect1, #sect2 {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-size: 1rem;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
}

/* Efecto sombreado borde container*/
.container {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  padding: 5%;
}

#imgLogo, #imgPage2{
  width: 100%;
  margin: 0 auto 8px;
  display: block;
  max-width: 200px;
}

/* Estilo inputs*/
.form-control, .custom-select {
  background-color: rgb(250, 255, 189);
  border-radius: 0;  
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-color: black;
}

/* Estilo botones*/
.btn-primary {
  color: black;
  font-weight: bold;
  background-color: #ffc107;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0;  
}

/* Aplicando estilo de sombreado cuando el mouse se posa sobre el botón*/
.btn-primary:hover {
  font-weight: bold;
  color: black;
  background-color: #ff8507;
  border: none;
  transition-duration: 1s;
  cursor: pointer;
  border-radius: 0;
}

#page1, #page2 {
  color: rgba(0, 0, 0, 0.54);
}
/* Fin estilo página 2*/

/* Inicio estilo página inicio (index.html)*/
.col-sm-3{
  background-color: white;
}
#logo{
  text-align: center;
}
.title{
  background-color: #ffc107;
}
h1{
  text-align: center;
}

body,html{
    height: 100%;
}
.bg-light {
    background-color: #f8f9fa05!important;
}
.home{
   background-color: #6c757d14;
}

/*.home a{
  color: black;
  display: inline;
  padding: 2%;
  margin: 0%;
  text-decoration: none;
}*/
.home a:hover{
  background-color: #ffc107;
}
ul{
  list-style-type: none;
  height: 100%;
}
li{
  list-style-type: none;
  font-family: 'Song Myung',serif;
  font-size: 35px;
  padding: 5%;
}
.menu{
  padding: 2em;
    color: #6c757d;
    font-size: larger;
}

/*Fin estilo página inicio (index.html)

/*Estilo página 4*/

